@model IMS_SI.Models.Medicine

@{
    ViewBag.Title = "AddMedicine";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Medicine</li>
        <li class="active">Add Medicine</li>
    </ol>
</div>

<h2>Add Medicine</h2>
