@model IEnumerable<IMS_SI.Models.Medicine>

@{
    ViewBag.Title = "ListOfMedicine";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Ambulance</li>
        <li class="active">List of Medicine</li>
    </ol>
</div>

<h2>List Of Medicine</h2>

